<div class="product-types">
  <div *ngFor="let type of productTypes" class="product-type">
    
    <!-- Arrow + Product Type Name -->
    <div class="product-type-header" (click)="toggleProducts(type)">
      <span class="arrow">{{ type.expanded ? '▼' : '▶' }}</span>
      {{ type.name }}
    </div>

    <!-- Product List (Lazy Loaded) -->
    <div *ngIf="type.expanded" class="products-list">
      <div *ngFor="let product of type.products" class="product-item">
        {{ product.name }} - {{ product.description }}
      </div>
    </div>

  </div>
</div>
