<div class="dropdown-menu w-100 p-4" aria-labelledby="productsMenu">
  <div class="container" *ngIf="!loading; else loadingTemplate">
    <div class="row">

      <!-- Loop through product types -->
      <div class="col-md-4" *ngFor="let type of productTypes">
        <h6 class="dropdown-header"
            [routerLink]="['/products']"
            [queryParams]="{ type: type.id }"
            style="cursor: pointer;">
          
               <a class="dropdown-item"
           [routerLink]="['/products']"
           [queryParams]="{ type: type.id }">
          {{ type.name }}
        </a>

        </h6>
   
      </div>

    </div>
  </div>

  <ng-template #loadingTemplate>
    <div class="p-4">
      <p>Loading product types...</p>
    </div>
  </ng-template>
</div>