/* Full-width dropdown with some spacing */
.dropdown-menu {
  padding: 1rem;
}

.dropdown-item{
  font-weight:bold;
}
.dropdown-item:hover {
  background-color: #770202;
  color: #fff;
}

.dropdown-header {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
}
